.nomobile {
	display: none;
}
/*Home Page*/
.item-copy {
	font-size: 26px;
	width: 80%;
}
.our-bands-list {
	padding-top: 0;
}
.our-band, .see-all {
	width: 80%;
	margin: 0 10%;
}
.about-us {
	padding-top: 0;
}
.about-item {
	width: 100%;
	padding: 0 20px;
}
.carousel-inner > .carousel-item > img {
	height: 300px;
}
/*Band Listing Page*/
.band-listing {
	padding-bottom: 40px;
}
.band-tile-wrap {
	text-align: center;
}
.band-tile {
	display: inline-block;
	width: 80%;
	margin: 10px 0;
	float: none;
}
/*Search Forms*/
.search-bar {
	width: 100%;
	margin: 10px 0;
}
.search-btn {
	width: 100%;
	text-align: center;
	margin: 10px 0;
}
/*Song Listing Page*/
.song-listing {
	padding-bottom: 40px;
}